.stage {
    @include section();
    background-color: $color_1;
    
    &_wrapper {
        display: flex;
        flex-direction: column-reverse;

        @media ($tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &_title {
        @include h1();
    }
    &_list {
        @include lead();
        
        &_li {
            list-style: url(../images/check_24.png);
            padding-left: 0.5rem;
        }
    }
    &_image {
        @include img($color_2);
        width: 100%;
        height: 21.4rem;
        margin-bottom: 2rem;

        @media ($tablet) {
            max-width: 47rem;
            margin-bottom: 0rem;
            margin-left: 4rem;
        }
    }
}