// colors
$white: #fff;
$gray1: #989898;
$gray2: #ebebeb;
$colorPrimary: #445161;
$colorSecondary: #445162;
$text_color: #333333;

// fonts
$fontMain: 'Arial', sans-serif;
$fontIcon: 'socialico';

// screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';

// shadows
$text-shadow: 0.5px 1px 0px rgba(0, 0, 0, 0.3);