doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 8.4_pug
    body
        h2 8.4_pug
        p pug is the best
        p pug is the best
        a(href="index2.pug")  pug2
    script(src="index.js")