// colors
$text_color: #000;
$background_color: #FD889F;

// fonts
$fontMain: 'Roboto', sans-serif;
$fontIcon: 'socialico';

// screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';

// shadows
$text-shadow: 0.5px 1px 0px rgba(0, 0, 0, 0.3);