// colors
$text_color: #000;
$background_color_0: #F6ABCA;      // #fff  #ccc
$background_color_1: #F6ABCA;   // #F6ABCA
$background_color_2: #FD889F;   // #FD889F
$background_color_3: #91EC59;   // #91EC59

// fonts
$fontMain: 'Roboto', sans-serif;
$fontIcon: 'socialico';

// screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';

// shadows
$text-shadow: 0.5px 1px 0px rgba(0, 0, 0, 0.3);